name: Oneplus Firmware Dumper

on:
  workflow_dispatch:
    inputs:
      urls:
        description: 'URLs (comma or space separated)'
        required: true
      region:
        description: 'Region'
        required: true
        type: choice
        options:
          - IN
          - NA
          - CN
          - EU
          - GLO
          - ROW
      name:
        description: 'Release tag'
        required: false
      run_maximize_build_space:
        description: 'Run maximize-build-space?'
        required: true
        type: boolean
        default: false        

jobs:
  dump:
    permissions: write-all
    runs-on: self-hosted
    
    steps:
    - name: Run maximize-build-space
      if: github.event.inputs.run_maximize_build_space == 'true'
      uses: easimon/maximize-build-space@master
      with:
        remove-android: 'true'
        remove-dotnet: 'true'
        remove-haskell: 'true'
        remove-codeql: 'true'
        remove-docker-images: 'true'
        
    - name: Checkout repo
      uses: actions/checkout@v4
      with:
        fetch-depth: 0

    - name: Set script permissions
      run: chmod +x scripts/dump.sh

    - name: Download & Process OTA Packages
      id: dump
      run: |
        IFS=',' read -ra URLS <<< "${{ inputs.urls }}"
        export INPUT_NAME="${{ inputs.name }}"
        export INPUT_REGION="${{ inputs.region }}"
        for url in "${URLS[@]}"; do
          echo "$url"
        done | xargs ./scripts/dump.sh
        
    - name: Create tag
      run: |
        git fetch origin main
        git tag "${{ steps.dump.outputs.release_tag }}" HEAD
        git push origin "${{ steps.dump.outputs.release_tag }}"

    - name: Upload release assets
      uses: ncipollo/release-action@v1
      with:
        artifacts: out/*
        artifactErrorsFailBuild: true
        body: ${{ steps.dump.outputs.body }}
        tag: ${{ steps.dump.outputs.release_tag }}
        name: ${{ steps.dump.outputs.release_name }}
        token: ${{ secrets.GITHUB_TOKEN }}
